@import url('https://fonts.googleapis.com/css?family=Comfortaa|Gloria+Hallelujah|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Gloria Hallelujah', cursive;*/
/*font-family: 'Comfortaa', cursive;*/
/*font-family: 'Permanent Marker', cursive;*/
body{
  margin: 0;
}
#wrapper{
width: 1200px;
margin: 0 auto;
}
img{
height: auto;
width: 100px;
margin: 0px auto;
display:block;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px #333;
}
nav{
  background-color: #ffffff;
  width: 100%;
}
nav a{
  color: #2F358E;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  font-size: 1.1em;
}
nav a:hover{
  color: #ffffff;
}
nav p:hover{
  background: gray;
  border-radius: 2px;
}
nav li{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 110px;
}
nav ul{
  text-align: center;
  margin: 0;
  padding: 0;
}
footer{
  background: #2F358E;
  padding: 50px;
  font-family: 'Comfortaa', cursive;
  color: #fff;
}
#burger div{
  width: 35px;
  height: 5px;
  background: #2F358E;
  margin: 5px;
}
#burger{
  float: right;
  visibility: hidden;
}
#submit{
  color: #2F358E;
  background: white;
  font-size: 2em;
  height: 60px;
}



/*classes*/
.active{
  color: #000000;
}
.imgHeader{
  height: 400px;
  padding-bottom: 20px;
}
.imgHeader h1{
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 2em;
}
.imgHeader p{
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-family: 'Comfortaa', cursive;
}
.form{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 100%;
}
.form input{
  width: 100%;
  border-radius: 5px;
  border: 2px solid #333;
  height: 40px;
  margin: 5px auto;
  display: block;
  font-size: 1.2em;
  padding: 3px;
  outline: none;
}
.form textarea{
  width: 100%;
  border-radius: 5px;
  margin: 5px auto;
  display:block;
  outline: none;
  font-size: 1em;
  border: 2px solid #333;
}
.form button{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 3px;
  border: none;
  background: green;
  border-radius: 15px;
}
.aboutus h1{
  font-family: 'Permanent Marker', cursive;
  color: #2F358E;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3em;
}
.aboutus p {
  font-family: 'Comfortaa', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2em;
}
.aboutus img{
  width: 250px;
  height: auto;
  padding: 0px;
  margin: auto;
  display: block;
}
.aboutus a{
  width: 250px;
  height: auto;
  margin: 0px auto;
}
.info-panel{
    margin-bottom: 120px;
}
.center-text-blue{
  text-align: center;
  color: #2F358E;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin-bottom: 100px;
}
#right.info-panel{
  color: #333;
  font-family: 'Comfortaa', cursive;
  text-align: right;
  display: block;
  font-size: 1.5em;
}
#right.info-panel img{
  float: right;
  margin: 10px;
}
#right.info-panel p{
  margin: 10px;
}
#left.info-panel{
  color: #333;
  font-family: 'Comfortaa', cursive;
  text-align: left;
  font-size: 1.5em;
}
#left.info-panel img{
  float: left;
  margin: 10px;
}
.ig-pic{
  max-width: 300px;
  display: inline-block;
  color: #333;
  margin: 20px;
  font-family: 'Comfortaa', cursive;
  border: 1px solid #808080;
  box-shadow: 0 0 10px #333;
  border-radius: 6px;
  font-size: .7em;
}
.ig-pic a{
  text-decoration: none;
  color: #2F358E;
  border-radius: 3px;
  font-weight: bold;
}
.ig-pic hr{
  max-width: 120px;
}
.in-pic p{
  margin: 5px;
}
/*IDs*/
#homeHead{
  background-image: url(images/butterfly.jpg);
  margin-top: 150px;
  background-size:cover;
}
#homeHead h1{
  padding-top: 100px;
  font-size: 3em;
  font-family: 'Comfortaa', cursive;
}
#homeHeadService{
  background-image: url(images/camera1.png);
  background-size:cover;
}
#homeHeader h1{
  font-size: 2em;
}
#homeHeader ul{
  display: block;
  padding-left: 0;
}
#homeHead,
#homeHeadService,
#homeHeadGallery,
#homeHeadAbout,
#homeHeader h1{
  color:#ffffff;
  text-align: center;
}
#homeHead,
#homeHeadService,
#homeHeadGallery,
#homeHeadAbout,
#homeHeader p{
  font-size: 1.5em;
}
#homeHeadGallery img{
  width: 100%;
  height: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#homeHead3 h1{
  color: #420094;
  font-family: 'Permanent Marker', cursive;
}
#homeHeadGallery h1{
  color: #420094;
  font-family: 'Permanent Marker', cursive;
}
#homeHeadGallery ul{
  padding: 0;
  display: block;
  margin: 0 auto;
}
#homeHead3{
  height: 400px;
  width: 100%;
}
#homeHeadAbout{
  background-image: url(images/sky.png);
  background-size: cover;
}
#homeHeader{
  background-image: url(images/camera2.png);
  background-size: cover;
}
#homeHeader img{
  width: 100%;
}
#galleryBtn{
  background: #2F358E;
  width: 200px;
  padding: 10px;
  margin-top: 100px;
  border-radius: 10px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 1em;
  font-family: 'Comfortaa', cursive;
}
#galleryBtn:hover{
  background: grey;
}

#service1{
  font-size: 1.15em;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 80px;
  background: #283B54;
  border-radius: 10px;
  margin-top: 100px;
  padding-top: 10px;
}
#service1 p{
  color: white;
  background-color:#555596;
}
#service1 h4{
  text-align: center;
  color: white;
}
#service2{
  font-size: 1.15em;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 100px;
  background:#283B54;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
#service2 p{
  color: white;
  background-color:#555596;
}
#service2 h4{
  text-align: center;
  color: white;
}
#service3{
  font-size: 1.15em;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 100px;
  background:#283B54;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
#service3 p{
  color: white;
  background-color:#555596;
}
#service3 h4{
  text-align: center;
  color: white;
}
#service4{
  font-size: 1.15em;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 100px;
  background:#283B54;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
#service4 p{
  color: white;
  background-color:#555596;
}
#service4 h4{
  text-align: center;
  color: white;
}
#booking h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
}
#booking{
  margin: 20px auto;
  display:block;
}
#bookingText{
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    text-align: center;
}
#miniGallery h1{
  color: #420094;
  font-family: 'Permanent Marker', cursive;
}
#miniGallery ul{
  margin: 0px auto;
  padding: 0px;
  width: 1100px;
}
#miniGallery li{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 270px;
}
#miniGallery img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#miniGallery{
  height: 500px;
  margin: 0;
}
#wrapper h1{
  color: #2F358E;
}
#email_prompt{
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 97%;
  color: #ff0000;
  font-family: 'Comfortaa', cursive;
}

@media screen and (min-width:310px){
   #wrapper{
    width: 290px;
  }
  #homeHead2{
    height: 450px;
  }
  #homeHead2 li{
    width: 150px;
  }
  #homeHead2 ul{
    width: 245px;
  }
  #miniGallery{
    height: 500px;
  }
  #miniGallery li{
    width: 120px;
  }
  #miniGallery ul{
    width: 245px;
  }
  #homeHeadGallery img{
    width: 100%;
    height: auto;
  }
  #service1{
    margin-bottom: 140px;
  }
  #service2{
    margin-bottom: 140px;
  }
  #service3{
    margin-bottom: 140px;
  }
  #service4{
    margin-bottom: 140px;
  }
}


/*Mobile screen*/
@media screen and (min-width:380px){
  #wrapper{
    width: 300px;
  }
  #homeHead2{
    height: 450px;
  }
  #homeHead2 li{
    width: 140px;
  }
  #miniGallery{
    height: 500px;
  }
  #miniGallery li{
    width: 150px;
  }
  #miniGallery ul{
    width: 320px;
  }
  #homeHeadGallery img{
    width: 100%;
    height: auto;
  }

}

@media screen and (min-width:480px){
  #wrapper{
    width: 400px;
  }
  #homeHead2{
    height: 300px;
  }
  #homeHead2 li{
    width: 120px;
  }
  #homeHead2 ul{
    width: 100%;
  }
  #miniGallery{
    height: 600px;
  }
  #homeHeadGallery img{
    width: 100%;
    height: auto;
  }
  #homeHeadGallery li{
    width: 180px;
    height: auto;
  }
}

@media screen and (min-width:600px){
  #wrapper{
    width: 550px;
  }
  #homeHead2{
    height: 300px;
  }
  #homeHead2 li{
    width: 150px;
  }
  #homeHead2 ul{
    width: 100%;
  }
  #miniGallery ul{
    width: 100%;
  }
  #miniGallery li{
    width: 270px;
  }
  #miniGallery{
    height: 750px;
  }
  #homeHeadGallery li{
    width: 250px;
    height: auto;
  }
  #homeHeadGallery img{
    width: 100%;
    height: auto;
  }
}

/*Mobile menu query*/
@media screen and (max-width:768px){
  #homeHead{
    margin-top: 90px;
  }
.burger-nav{
  display: block;
  height: 40px;
  width: 30px;
  float: right;
  cursor: pointer;
}
nav ul{
  list-style: none;
  overflow: hidden;
  height: 0;
  margin: 0px auto;
  width: 100%;
  transition: 1s;
}
nav ul.open{
  height: auto;
  margin: 0px auto;
  padding-top: 40px;
  transition: 1s;
}
nav ul li{
  float: none;
  text-align: left;
  margin:0;
  display: block;
  text-align: center;
  padding-top: 40px;
  width: 100%;
}
nav ul li a{
    display: block;
    margin: 0;
    color: #420094;
}
#burger{
  visibility: visible;
  margin-top: 30px;
  padding-right: 25px;
}
#logo{
  width:90px;
  float: left;
}
body{
  margin-top: 100px;
}
}

@media screen and (min-width:760px){
  #homeHeadGallery img{
    width: 100%;
    height: auto;
  }
  #homeHeadGallery li{
    width: 220px;
  }
  #miniGallery ul{
    width: 100%;
  }
  #miniGallery li{
    width: 345px;
  }
  #miniGallery{
    height: 750px;
  }
  #miniGallery{
    height: 850px;
  }
  #homeHeader{
    margin-top: 150px;
  }
  #homeHeadService{
    margin-top: 150px;
  }
  #wrapper{
    margin-top: 170px;
  }
  #homeHeadAbout{
    margin-top: 150px;
  }
}

  @media screen and (min-width:980px){
    #wrapper{
      width: 900px;
    }
    #homeHeadGallery img{
      width: 100%;
    }
    #homeHeadGallery li{
      width: 260px;
    }
    #miniGallery ul{
      width: 100%;
    }
    #miniGallery li{
      width: 222px;
    }
    #miniGallery{
      height: 450px;
    }
    .form{
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      max-width: 500px;
    }
  }

    @media screen and (min-width:1020px){
      #wrapper{
        width: 1000px;
      }
      #homeHead2{
        height: 350px;
      }
      #homeHead2 li{
        width: 150px;
      }
      #homeHeadGallery img{
        width: 100%;
        height: auto;
      }
      #homeHeadGallery li{
        width: 230px;
        height: auto;
      }
      #miniGallery li{
        width: 246px;
      }

      .form{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        max-width: 500px;
      }
    }

    @media screen and (min-width:1250px){
      #wrapper{
        width: 1200px;
      }
      #homeHead2{
        height: 400px;
      }
      #homeHead3{
        height: 500px;
      }
      #homeHeadGallery img{
        width: 100%;
        height: auto;
      }
      #homeHeadGallery li{
        width: 280;
        height: auto;
      }
      #miniGallery li{
        width: 295px;
      }

      .form{
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 500px;
      }
    }
